[Desktop Entry]
Encoding=UTF-8
Name=Luma LDAP browser and utility
Comment=LDAP browser and utility
Exec=luma
Icon=luma.png
Type=Application
Terminal=false
Categories=Qt;Network;

# vi:encoding=utf-8
