[Desktop Entry]
Name=Luma LDAP browser and utility
Comment=LDAP browser and utility
Exec=luma
Icon=luma
Type=Application
Terminal=false
Categories=Qt;Network;
# vi:encoding=utf-8
